@font-face {
  font-family: "Phantom Sans";
  src: url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff")
      format("woff"),
    url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Phantom Sans";
  src: url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff")
      format("woff"),
    url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2")
      format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: "Phantom Sans", sans-serif;

  background-color: #1a202c;
  color: white;
}

.body {
  height: 100%;

  display: flex;
  align-items: stretch;

  height: 100%;
}

.body > * {
  overflow: auto;
}

.content {
  padding: 50px;
  flex: 1;
}

.content h1 {
  font-size: 50px;
  margin: 0;

  margin-bottom: 30px;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a {
  color: white;
  text-decoration: none;
}

.toc {
  background-color: #121217;

  flex-basis: 400px;
  flex-grow: 0;
  flex-shrink: 0;

  padding: 50px;
}

.toc ol,
.toc ul {
  list-style-type: none;
}

.toc a.active {
  font-weight: bold;

  color: rgb(255, 140, 55);
  background: linear-gradient(-45deg, #ec3750, #ff8c37);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

li.part-title {
  font-size: 1.24rem;
  font-weight: 700;

  margin: 10px 0 10px 0;
}

li.chapter-item:not(.affix) {
  color: #8492a6;
  font-size: 18px;
  padding: 10px 20px;

  cursor: default;
}

ol.chapter {
  padding: 0;
}

ol.section {
  padding-top: 0;
  padding-left: 20px;
}

li.chapter-item a {
  color: white;
  text-decoration: none;

  cursor: pointer;
}

h2.book-title {
  margin-top: 0;
}

.nav-chapters {
  color: white;
  font-size: 40px;
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.nav > *:not(.social) {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}

.nav > .nav-left {
  text-align: left;
}

.nav > .nav-center {
  text-align: center;
  font-size: 1.24rem;
  font-weight: 700;
}

.nav > .nav-right {
  text-align: right;
}

.nav > .social {
  padding-left: 30px;
}

.nav > .social > a {
  color: #8492a6;
  font-size: 25px;
  text-decoration: none;

  margin: 0 8px;
}
.nav > .social > a:hover {
  color: white;
}
