@font-face {
  font-family: "Phantom Sans";
  src: url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff")
      format("woff"),
    url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Phantom Sans";
  src: url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff")
      format("woff"),
    url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2")
      format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

a {
  color: #338eda;
}

a:visited {
  color: #ec3750;
}

#sidebar-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;

  background-color: transparent;
  visibility: hidden;

  transition-property: background-color, visibility;
  transition-duration: 300ms;
}

@media screen and (max-width: 1200px) {
  .toc {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    max-width: 400px;
    width: 100%;

    transform: translateX(-100%);
  }

  body.sidebar-visible .toc {
    transform: translateX(0);
  }

  body.sidebar-visible #sidebar-overlay {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.3);
  }

  #toc-toggle,
  #toc-close {
    display: inline-block !important;
  }
}

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: "Phantom Sans", sans-serif;

  background-color: #1a202c;
  color: white;
}

.body {
  height: 100%;

  display: flex;
  align-items: stretch;

  height: 100%;
}

.content {
  padding: 50px;
  flex: 1;

  overflow: auto;
}

.content h1 {
  font-size: 50px;
  margin: 0;

  margin-bottom: 30px;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a {
  color: white;
  text-decoration: none;
}

.toc {
  background-color: #121217;

  flex-basis: 400px;
  flex-grow: 0;
  flex-shrink: 0;

  transition: transform 300ms;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  height: 100%;
}

.toc ol,
.toc ul {
  list-style-type: none;
}

.toc a.active {
  font-weight: bold;

  color: rgb(255, 140, 55);
  background: linear-gradient(-45deg, #ec3750, #ff8c37);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#toc-toggle {
  font-size: 30px;
  cursor: pointer;

  display: none;

  margin-bottom: 20px;
}

#toc-close {
  cursor: pointer;

  display: none;
}

li.part-title {
  font-size: 1.24rem;
  font-weight: 700;

  margin: 10px 0 10px 0;
}

li.chapter-item:not(.affix) {
  color: #8492a6;
  font-size: 18px;
  padding: 10px 20px;

  cursor: default;
}

ol.chapter {
  padding: 0;
}

ol.section {
  padding-top: 0;
  padding-left: 20px;
}

li.chapter-item a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

h2.book-title {
  margin: 0;
}

.social {
  background-color: #3c4858;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.social > *, i {
  margin: 0 20px;
  color: white;
}

.footer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.nav-chapters {
  background: #3c4858;
  color: white;
  padding: 7px 35px;
  border-radius: 5px;
}

.nav-chapters.previous {
  margin-right: auto;
}

.nav-chapters.next {
  margin-left: auto;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
